header {
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}

nav {
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

section {
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

footer {
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 0.8em;
}